<div class="container profile-container">
  <div class="profile">
    <div class="sidebar">
      <div class="main-card"> 
        <div class="user-banner" style="background-image: url(https://images.unsplash.com/photo-1502957291543-d85480254bf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&auto=format&fit=crop&w=667&q=80)">
        </div> 
        <div class="main-card-details">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "main-card-image" %>
          <% else %>
            <%= image_tag 'https://images.uncyc.org/pt/thumb/2/29/Mr-bean-avatar.jpg/250px-Mr-bean-avatar.jpg', class: "main-card-image" %>
          <% end %>
        <h2><%= @user.username %></h2>
        <p class="user-email"><%= @user.email %></p>
          <hr>
        <div class="user-info">
          <span class="user-posts"><%= @user.posts.present? ? @user.posts.count : 0 %></span>
          <span class="user-followers"> 14 </span>
          <span class="user-following"> 7 </span>
        </div>
        <div class="user-labels">
          <span class="user-posts">Post's</span>
          <span class="user-followers"> Followers</span>
          <span class="user-following"> Following </span>
        </div>
      </div>
    </div>    
  </div>
  <div class="posts-index">
    <% @user.posts.each do |post| %>
      <div class="post-user" style="background-image: url('<%= image_path post.movie.poster %>')">
      <span class="att">
        <%= link_to "Comments (#{post.comments.count})", "#comment-#{post.id}", class: "btn btn-laranja", "data-toggle" => "modal" %>
      </span>
      <div class="modal fade" id="<%= "comment-#{post.id}" %>%" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
