<div class="container profile-container">
  <div class="profile">
    <div class="sidebar">
      <div class="main-card"> 
        <div class="user-banner" style="background-image: url(https://images.unsplash.com/photo-1502957291543-d85480254bf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&auto=format&fit=crop&w=667&q=80)">
        </div> 
        <div class="main-card-details">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "main-card-image" %>
          <% else %>
            <%= image_tag 'https://images.uncyc.org/pt/thumb/2/29/Mr-bean-avatar.jpg/250px-Mr-bean-avatar.jpg', class: "main-card-image" %>
          <% end %>
        <h2><%= @user.username %></h2>
        <p class="user-email"><%= @user.email %></p>
          <hr>
        <div class="user-info">
          <span class="user-posts"><%= @user.posts.present? ? @user.posts.count : 0 %></span>
          <span class="user-followers"> 14 </span>
          <span class="user-following"> 7 </span>
        </div>
        <div class="user-labels">
          <span class="user-posts">Post's</span>
          <span class="user-followers"> Followers</span>
          <span class="user-following"> Following </span>
        </div>
      </div>
    </div>    
  </div>
  <div class="posts-index">
    <% @user.posts.each do |post| %>
      <div class="post-user" style="background-image: url('<%= image_path post.movie.poster %>')">
      </div>
    <% end %>
  </div>
</div>

