<% if user_signed_in? %>
  <div class="container">
    <div class="profile-bar">
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "avatar-large " %>
      <div class="stats-bar">
        <div>
          <p>Ratings</p>
          <a id="stats-align"> 1 </a>
        </div>
        <div>
          <p>Movies</p>
          <a id="stats-align"> 21 </a>
        </div>
        <div>
          <p>Cine Lovers</p>
          <a id="stats-align"> 23 </a>
        </div>
      </div>
    </div>
  <div class="main-content">
    <div class="feed">
    <% @posts.each do |post| %>
      <div class="feed-box">
        <div class=comments>
          <!-- User comment input -->
          <div class="container main-post">
            <div class="review">
              <%= image_tag "#{post.movie.poster}", class:"poster" %>
              <%= post.rating %>
            </div>
            <div class="description">
              <div> <h4> <%= post.movie.title %> </h4> </div>
              <div> 
                <h4> By user <%= post.user_id %> </h4>
                <h5> Created at: <%= post.created_at %></h5>
              </div>  
              <div class="post-comment"> <%= post.comment %> </div>
            </div>
          </div>
        </div>
        <span class="att">
          <p>Cool</p>
          <a href="/comments/new" class="btn btn-primary btn-lg"> Add a comment!</a>
        </span>
      </div>
    <% end %>

    </div>
    <div class="categories">
      <% @genres.each do |genre|%>
        <%= link_to genre.name, root_path(genre: genre.id), class: "btn btn-primary rounded-pill border"%>  
      <% end %> 
      <%= link_to "Watch a movie", genres_path, class: "btn btn-warning rounded-pill border"%>
    </div>
  </div>
  </div>
<% else %>
  <div class="banner">
    <div class="text-center">
      <a href="users/sign_up" class="btn btn-primary btn-lg border"> Sign up!</a>
    </div>
    <div class="infos container">
      <div class="card transparent" style="width: 18rem;">
        <%= image_tag "friends-icon.png", class: "card-img-top icons" %>
        <div class="card-body">
          <p class="card-text" style="color: #000000">Keep in touch with your friends.</p>
        </div>
      </div>
      <div class="card transparent" style="width: 18rem;">
        <%= image_tag "movie-icon.png", class: "card-img-top icons" %>
        <div class="card-body">
          <p class="card-text" style="color: #000000">Get movies recommendations based on your taste.</p>
        </div>
      </div>
      <div class="card transparent" style="width: 18rem;">
        <%= image_tag "speech-bubble-comments.png", class: "card-img-top icons" %>
        <div class="card-body">
          <p class="card-text" style="color: #000000">Share your opinions about a movie!</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
