<% if user_signed_in? %>
  <div class="container my-3">
  <div class="main-content">
    <div class="feed">
    <% @posts.each do |post| %>
      <div class="feed-box">
        <div class=comments>
          <!-- User comment input -->
          <div class="main-post">
            <%= image_tag "#{post.movie.poster}", class:"poster" %>
            <div class="description">
                <h4> <%= post.movie.title %> </h4>
                <h4> By user <%= post.user.email %> </h4>
              <div class="post-comment"> <%= post.comment %> </div>
            </div>
            <span class="movie-rating"><%= post.rating %></span>
          </div>
        </div>
        <span class="att">
          <a href="/comments/new" class="btn btn-primary btn-lg"> Add a comment!</a>
        </span>
      </div>
    <% end %>

    </div>
    <div class="categories">
     <%= form_tag root_path, method: :get, class:"search_form" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control rounded-pill",
      placeholder: "Find a movie"
    %>
    <%= button_tag(type:"submit", class: "btn btn-primary rounded-pill") do%>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
      <% @genres.each do |genre|%>
        <%= link_to genre.name, root_path(genre: genre.id), class: "btn btn-primary rounded-pill border"%>  
      <% end %> 
      <%= link_to "Watch a movie", genres_path, class: "btn btn-warning rounded-pill border"%>
    </div>
  </div>
  </div>
<% else %>
  <div class="banner">
    <div class="text-center">
      <a href="users/sign_up" class="btn btn-primary btn-lg border"> Sign up!</a>
    </div>
    <div class="infos container">
      <div class="card transparent" style="width: 18rem;">
        <%= image_tag "friends-icon.png", class: "card-img-top icons" %>
        <div class="card-body">
          <p class="card-text" style="color: #000000">Keep in touch with your friends.</p>
        </div>
      </div>
      <div class="card transparent" style="width: 18rem;">
        <%= image_tag "movie-icon.png", class: "card-img-top icons" %>
        <div class="card-body">
          <p class="card-text" style="color: #000000">Get movies recommendations based on your taste.</p>
        </div>
      </div>
      <div class="card transparent" style="width: 18rem;">
        <%= image_tag "speech-bubble-comments.png", class: "card-img-top icons" %>
        <div class="card-body">
          <p class="card-text" style="color: #000000">Share your opinions about a movie!</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
