<div class="container">

  <div class="form-group">
    <%= simple_form_for @post do |f| %>
      <%= f.input :movie_id, collection: Movie.all.pluck(:title), input_html:{ class: "select2" } %>
      <%= f.input :text_comment, as: :rich_text_area, class: "form-control", :input_html => { data: { controller: "mentions", target: "mentions.field" }} %>
      <%= f.input :rating %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
 </div>
</div>